
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansEncoded';
    src: url('OpenSans-Regular-Encoded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
